[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
init-connect = 'SET NAMES utf8mb4'

default-time-zone = '+00:00'

innodb_buffer_pool_size = 256M
max_connections = 50

general_log = ON
slow_query_log = ON
long_query_time = 1

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
