apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-api-server
  namespace: batch
  labels:
    app: batch-api-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: batch-api-server
  template:
    metadata:
      labels:
        app: batch-api-server
    spec:
      terminationGracePeriodSeconds: 350
      containers:
        - name: batch-api-server
          image: sbaw-batch-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              value: jdbc:mysql://mysql.batch.svc.cluster.local:3306/demo
            - name: DATABASE_USER
              value: general_user
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: "0.5"
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 15
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 3
