apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: failable-job-cron
  namespace: batch
  labels:
    workflows.argoproj.io/type: batch-job
spec:
  schedules:
    - "*/5 * * * *"
  timezone: UTC
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  workflowSpec:
    entrypoint: run-failable-job
    templates:
      - name: run-failable-job
        dag:
          tasks:
            - name: trigger
              templateRef:
                name: batch-common
                template: trigger-job
              arguments:
                parameters:
                  - name: jobName
                    value: failableJob
                  - name: params
                    value: '{"period": "MINUTELY_5", "params": {"message": "Hello FailableJob", "shouldFail": "true"} }'
            - name: poll
              depends: trigger
              when: "{{tasks.trigger.outputs.result}} =~ STARTING"
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: executionId
                    value: "{{=jsonpath(tasks.trigger.outputs.result, '$.executionId')}}"

            # FAILED인 경우에만 재시작
            - name: restart
              depends: poll
              when: "{{tasks.poll.outputs.result}} =~ FAILED || {{tasks.poll.outputs.result}} =~ STOPPED"
              templateRef:
                name: batch-common
                template: restart-job
              arguments:
                parameters:
                  - name: executionId
                    value: "{{=jsonpath(tasks.trigger.outputs.result, '$.executionId')}}"

            # 재시작된 Job 완료 대기
            - name: poll-restarted
              depends: restart
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: executionId
                    value: "{{=jsonpath(tasks.restart.outputs.result, '$.newExecutionId')}}"
