apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: failable-job-cron
  namespace: batch
  labels:
    workflows.argoproj.io/type: batch-job
spec:
  schedules:
    - "*/5 * * * *"
  timezone: UTC
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  workflowSpec:
    entrypoint: run-failable-job
    templates:
      - name: run-failable-job
        dag:
          tasks:
            - name: trigger
              templateRef:
                name: batch-common
                template: trigger-job
              arguments:
                parameters:
                  - name: job-name
                    value: failableJob
                  - name: params
                    value: '{"period": "MINUTELY_5", "params": {"message": "Hello FailableJob", "shouldFail": "true"} }'
            - name: poll
              depends: trigger
              when: "{{tasks.trigger.outputs.parameters.status-code}} == 202"
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: execution-id
                    value: "{{tasks.trigger.outputs.parameters.execution-id}}"

            # FAILED인 경우에만 재시작
            - name: restart
              depends: poll
              when: "'{{tasks.poll.outputs.parameters.status}}' == 'FAILED'"
              templateRef:
                name: batch-common
                template: restart-job
              arguments:
                parameters:
                  - name: execution-id
                    value: "{{tasks.trigger.outputs.parameters.execution-id}}"

            # 재시작된 Job 완료 대기
            - name: poll-restarted
              depends: restart
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: execution-id
                    value: "{{tasks.restart.outputs.parameters.new-execution-id}}"
