apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: long-running-job-cron
  namespace: batch
  labels:
    workflows.argoproj.io/type: batch-job
spec:
  schedules:
    - "*/10 * * * *"
  timezone: UTC
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  workflowSpec:
    entrypoint: run-long-running-job
    templates:
      - name: run-long-running-job
        dag:
          tasks:
            - name: trigger
              templateRef:
                name: batch-common
                template: trigger-job
              arguments:
                parameters:
                  - name: job-name
                    value: longRunningJob
                  - name: params
                    value: '{}'
            - name: poll
              depends: trigger
              when: "{{tasks.trigger.outputs.parameters.status-code}} == 202"
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: execution-id
                    value: "{{tasks.trigger.outputs.parameters.execution-id}}"
