apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
# https://argo-workflows.readthedocs.io/en/latest/cron-workflows/
metadata:
  name: simple-job-cron
  namespace: batch
  labels:
    workflows.argoproj.io/type: batch-job
spec:
  schedules:
    - "*/2 * * * *"
  timezone: UTC
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  workflowSpec:
    entrypoint: run-simple-job
    templates:
      - name: run-simple-job
        dag:
          tasks:
            - name: trigger
              templateRef:
                name: batch-common
                template: trigger-job
              arguments:
                parameters:
                  - name: job-name
                    value: simpleJob
                  - name: params
                    value: '{"period": "MINUTELY_5", "params": {"message": "Hello World!", "count": 10} }'
            - name: poll
              depends: trigger
              when: "{{tasks.trigger.outputs.parameters.status-code}} == 202"
              templateRef:
                name: batch-common
                template: poll-job-completion
              arguments:
                parameters:
                  - name: execution-id
                    value: "{{tasks.trigger.outputs.parameters.execution-id}}"
