[mysqld]
log-bin=mysql-bin
binlog_format=row
server-id=1
read_only=0
general_log=1
slow_query_log=1
long_query_time=2
log-error = /var/lib/mysql/mysql.err
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
init-connect='SET NAMES utf8mb4'
log_queries_not_using_indexes=1
transaction-isolation=REPEATABLE-READ
max_connections = 500
default_authentication_plugin=mysql_native_password

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4